<div class="all_container">
    <h1>About</h1>
    <div class="container">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
              <tr>
                <th>Development Technology</th>
                <th>Framework/Library</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Backend</td>
                <td><a href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot</a> <br>Java-based framework for rapid API development</td>
              </tr>
              <tr>
                <td></td>
                <td><a href="https://hibernate.org/orm/" target="_blank">Hibernate</a> <br>Java-based Object-Relational Mapping framework</td>
              </tr>
              <tr>
                <td>Frontend</td>
                <td><a href="https://angular.io/" target="_blank">Angular</a> <br>JavaScript/TypeScript-based framework for building dynamic SPA's</td>
              </tr>
            </tbody>
          </table>
          
          
          
    </div>
</div>