<div class="all_container">
  <h1>All Employees</h1>
  <div class="container">
    <table class="table table-warning table-striped ">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let emp of employees">
        <tr>
          <th scope="row">{{emp.id}}</th>
          <td>{{emp.name}}</td>
          <td>{{emp.email}}</td>
          <td class="text-center">
            <a class="btn btn-primary mr-3" [routerLink]="['/profile', getStringifiedEmp(emp) ]">View</a>
            <a class="btn btn-danger">Delete</a>
          </td>
          <!-- <td class="text-center">
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>

</div>