<div class="all_container">
    <h1>{{emp.name}}'s Profile</h1>
    <div class="container">
        <table class="table table-info table-striped">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>{{emp.id}}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{emp.name}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{emp.email}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{emp.phone}}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{emp.gender}}</td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td>Rs. {{emp.salary}}</td>
                </tr>
                <tr>
                    <td>Designation</td>
                    <td>{{emp.designation}}</td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>{{emp.department}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>